.container {
  align-items: center;
  justify-content: center;
  height: 100vh;
}

mat-card {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

mat-card-title {
  font-size: 26px; 
  font-weight: bold;
  text-align: center; 
  width: 100%; 
}

.btn-1 {
  padding: 15px 30px;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
}

.btn-center {
  justify-content: center;
  display: flex;
}

.quantity-input {
  display: flex;
  align-items: center;
}

.quantity-input .btn {
  width: 30px;
  height: 30px;
  padding: 0;
}

.quantity-input .form-control {
  width: 40px;
  text-align: center;
  padding: 0;
  height: 30px;
}

.final-value {
  border: 5px solid #333; 
  padding: 10px;
  border-radius: 10px;
  max-width: 75%;
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
  display: inline-block;
}

