
.container {
  align-items: center;
  justify-content: center;
  height: 100vh;
}

mat-card {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

mat-card-title {
  font-size: 26px; 
  font-weight: bold;
  text-align: center; 
  width: 100%; 
}

.btn-1 {
  padding: 15px 30px;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
}

.btn-center {
  justify-content: center;
  display: flex;
}

.quantity-input {
  align-items: center;
}

.quantity-input .btn {
  width: 40px;
  height: 30px;
  padding: 0;
}

.quantity-input .form-control {
  width: 25px;
  text-align: center;
  padding: 0;
  height: 30px;
}

.final-value {
  background-color: #d3d5d5;
  border: 1px solid #a5a7aa; 
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color:#474747;
  display: inline-block;
  max-width: 75%;
  margin: 10px 0;
}

.rotate-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}
