<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <mat-card class="rounded-4">
        <mat-card-content>
          <form [formGroup]="shirtForm">
            <ng-container *ngIf="shirtForm.value.img_url">
              <div class="mt-2 d-flex justify-content-center" >
                <div class="border border-dark rounded p-2"> 
                  <img style="width: 210px;" [src]="is_front ? front_url : back_url">
                </div>
              </div>
              <button mat-fab (click)="viewBack()" style="width: 30px; height: auto; background-color: white;" class="p-1">
                <i class="fa-solid fa-rotate w-100 h-auto"></i>
              </button>
            </ng-container>
            <div class="mb-3 mt-3">
              <mat-form-field class="w-100">
                <mat-label>Imagem:</mat-label>
                <mat-select id="img_url" formControlName="shirt">
                  <mat-option value="">Selecione uma opção</mat-option>
                  <mat-option *ngFor="let shirt of data.shirts" [value]="shirt">{{ shirt.collar.name + ' e ' + shirt.sleeve.name }}</mat-option>
                </mat-select>
                <mat-error *ngIf="shirtForm.get('img_url')?.hasError('required')">
                  Esse campo é obrigatório
                </mat-error>
              </mat-form-field>
            </div>
      
            <div class="mb-3">
              <mat-form-field class="w-100">
                <mat-label>Tamanho:</mat-label>
                <mat-select id="size" formControlName="size">
                  <mat-option value="">Selecione o tamanho</mat-option>
                  <mat-option *ngFor="let size of sizes$ | async" [value]="size">{{ size.name }}</mat-option>
                </mat-select>
                <mat-error *ngIf="shirtForm.get('size')?.hasError('required')">
                  O tamanho é obrigatório
                </mat-error>
              </mat-form-field>
            </div>
      
            <div class="mb-3">
              <div class="d-flex align-items-center">
                <label for="quantity" appearance="fill" class="me-3">Quantidade:</label>
                <div class="input-group" style="width: 30%;">
                  <button class="btn btn-outline-secondary" type="button" (click)="decreaseQuantity()">-</button>
                  <input type="number" id="quantidadeLogos" class="form-control text-center" formControlName="quantity" readonly >
                  <button class="btn btn-outline-secondary" type="button" (click)="increaseQuantity()">+</button>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-center">
              <span class="final-value">
                {{ quantity }} x R$ {{ shirtForm.controls['unit_value'].value | number:'1.2-2' }} = R$ {{ (shirtForm.controls['unit_value'].value * quantity) | number:'1.2-2' }}
              </span>
            </div>
            
            <div class="btn-center mb-3 mt-3">
              <button mat-button class="btn-1" (click)="goToForm()">Voltar</button>
              <button mat-raised-button color="warn" class="btn-1" (click)="openlist()">Ver Lista</button>
              <button mat-raised-button color="accent text-light" class="btn-1" (click)="save()">Adicionar</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>      
    </div>
  </div>
</div>
