<h2 mat-dialog-title class="fw-bold">ORÇAMENTO DE CAMISETAS</h2>
<mat-dialog-content>
  <div *ngIf="estimateForm.value.shirts.length > 0; else emptyTpl" class="d-flex flex-column align-items-center shopping-bag" id="print-section-2">
    <ng-container *ngFor="let shirt of estimateForm.value.shirts; let i = index">
      <div class="d-flex flex-row flex-wrap item border border-black rounded-4 w-75 p-4 mb-3 mt-3">
        <div class="image me-4 d-flex align-items-center justify-content-center flex-shrink-0">
          <img [src]="shirt.img_url" alt="Shirt Image" class="img-fluid" style="max-width: 150px;">
        </div>
        <div class="description flex-grow-1 fs-5 mb-3 mb-md-0">
          <span class="d-block">Tamanho: {{ shirt.size.name }}</span>
          <span class="d-block">{{ shirt.collar.name }}</span>
          <span class="d-block">{{ shirt.sleeve.name }}</span>
        </div>
        <div class="d-flex flex-column justify-content-between align-items-end mt-3 mt-md-0">
          <button mat-fab color="warn" aria-label="Excluir" (click)="onDeleteItem(i)" class="trash-button mb-3">
            <i class="fa-regular fa-trash-can"></i>
          </button>
          <div class="text-end">
            <div class="fs-5">Quantidade: {{ shirt.quantity }}</div>
            <div class="price fw-bold text-secondary fs-4">Preço: {{ shirt.unit_value | currency:'BRL' }}</div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div id="print-section-1">
    <ng-container *ngIf="isPrinting">
       <app-estimate [data]="estimateForm.value"></app-estimate>
    </ng-container> 
  </div>
  
</mat-dialog-content>
<mat-dialog-actions class="justify-content-end">
  <button mat-button mat-dialog-close>Voltar</button>
  <button mat-raised-button color="primary" class="btn-1" (click)="generatePdf()"> Gerar PDF</button>
</mat-dialog-actions>

<ng-template #emptyTpl>
  <div *ngIf="estimateForm.value.shirts.length === 0" class="empty-placeholder mt-3 mb-3">
    <i class="fa fa-box-open fs-1 mt-2"></i>
    <p class="fs-3 mt-4">Nenhum uniforme adicionado ainda.</p>
  </div>
</ng-template>