.container {
  height: 100vh;
}

mat-card {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

mat-card-header {
  margin-bottom: 20px;
  font-weight: bold;
  padding: 0; 
}

mat-card-title {
  font-size: 26px; 
  font-weight: bold;
  text-align: center; 
}
